<div class="header">
  <h1>My Angular App</h1>

  <div class="navbar">
    <nav>
      <a routerLink="/order" routerLinkActive="active">Order</a><span style="color: #ffffff;">|</span>
      <a routerLink="/calculator" routerLinkActive="active">Calculator</a><span style="color: #ffffff;">|</span>
      <a routerLink="/bank" routerLinkActive="active">Bank</a> <span style="color: #ffffff;">|</span>
      <a routerLink="/cache" routerLinkActive="active">Cache</a> <span style="color: #ffffff;">|</span>
      <a routerLink="/calculatorjs" routerLinkActive="active">Calculator JS</a> <span style="color: #ffffff;">|</span>
      <a routerLink="/orders" routerLinkActive="active">Orders</a> <span style="color: #ffffff;">|</span>


    </nav>
  </div>
</div>
<router-outlet></router-outlet>

